---
import Layout from '@layouts/Default.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';


---

<Layout
  title='Home'
  pageTitle='Brutal Theme | Home'
  description='Brutal is a minimalistic, neobrutalism theme for Astro.'
>
  <main class='bg-pink p-6'>
    <MobileSocials />
    
  </main>
</Layout>
