---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';


---

<Layout
  title='About'
  description='Brutal Blog | On this page you can find a collection of blogposts'
  pageTitle='About'
>
  <main class='bg-green p-6'>
  
  </main>
</Layout>
