---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';

const posts = await getCollection('projects').then((collection) =>
  collection.reverse()
);
---

<Layout
  title='projects'
  description='Brutal Blog | On this page you can find a collection of blogposts'
  pageTitle='projects'
>
  <main class='bg-green p-6'>
    <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
      projects
    </h2>
    <BlogList posts={posts} />
  </main>
</Layout>
